OTLP_LOGS_ENDPOINT=
OTLP_AUTH_HEADER_NAME=
OTLP_AUTH_HEADER_VALUE=
OTLP_LOGGER_ENABLED=true
# info, warn, error
OTLP_LOGGER_LEVEL=info
NODE_ENV=development
PG_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_USER=
REDIS_PASS=
MASTER_ENCRYPTION_KEY=
BETTER_AUTH_SECRET=
# Base URL of the app
BETTER_AUTH_URL=