#====================== ENVIRONMENT ======================
NODE_ENV=development

#====================== DATABASES ======================
PG_URL=postgres://postgres:postgres@localhost:5432/fluxify_alpha
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=
REDIS_PASS=

#====================== PORT CONFIG & PATHS ======================
AI_GATEWAY_PORT=8001
DOCS_INDEX_FILE_PATH="../dist/docs-index.bin"

#====================== SECURITY & AUTH ======================
MASTER_ENCRYPTION_KEY=ZlhiQmhaS3JSeG5qTDZoWlZMbTd1WDE3aFhvYVlUVjE=
BETTER_AUTH_SECRET=vWJkRKH7tUg31TxgMoknTGTBv4xYFjVM
BETTER_AUTH_URL=http://localhost:8080

#====================== OPEN TELEMETRY & TRACING ======================
OTLP_SERVICE_NAME=fluxify.api-gateway
OTLP_LOGS_ENDPOINT=http://localhost:5080/api/default/v1/logs
OTLP_AUTH_HEADER_NAME=Authorization
OTLP_AUTH_HEADER_VALUE=""
OTLP_LOGGER_ENABLED=true
OTLP_LOGGER_LEVEL=info

# LLM TRACING
LLM_TRACING_ENABLED=true
LLM_OTLP_TRACES_ENDPOINT=http://localhost:6006/v1/traces
LLM_OTLP_TRACES_HEADERS=""
LLM_TRACING_SAMPLE_RATE=1