name: CI for @fluxify/blocks package
on:
  push:
    branches:
      - main
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Bun.js
        uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        run: bun install
      - name: Build
        run: bun run build
      - name: Change Directory to blocks package
        run: cd packages/blocks
      - name: Run tests
        run: bun run test
