name: CI/CD

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      
      - name: Install Dependencies
        run: bun install

      - name: Run Tests
        run: bun run test

  build-and-push:
    needs: test
    if: github.event_name == 'push' && github.ref == 'refs/heads/main' && github.repository_owner == 'Fluxify-rest'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract commit hash (short)
        id: commit
        run: echo "short_sha=$(echo ${{ github.sha }} | cut -c 1-4)" >> $GITHUB_OUTPUT

      - name: Lowercase Repo Owner
        id: owner
        run: echo "owner=$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.kit
          push: true
          tags: |
            ghcr.io/${{ steps.owner.outputs.owner }}/fluxify-kit:${{ steps.commit.outputs.short_sha }}
            ghcr.io/${{ steps.owner.outputs.owner }}/fluxify-kit:latest
